#edit-filter .form-item {
  float: left;
  margin-right: 2px;
}
#edit-filter-reset,
#edit-filter-submit {
  margin-top: 18px;
  padding: 2px 10px;
  margin-left: 10px;
}
.filter-hidden {
  display: none;
}
